.btn:hover {
    background-color: #0c5da5;
    color: white;
}

main .btn {
    margin-top: 3px;
    background-color: #0e79d6;
    color: white;
}

h3 {
    font-size: 1.0em;
}

.medzera {
    margin-top: 7px;
}