* {
    font-family: "Arial","Gill Sans","system-ui" ;
}

body {
    background-color: #65cbe9 ;
}

.vyhladanie {
    background-color: transparent;
    color: black;
    width: 30px;
    height: 30px;
    margin: auto;
}

.btn:hover {
    background-color: #65cbe9;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto 0 auto;

}
.card-img-bottom {
    background-color: transparent;
}

.kategoria img {
    max-width: 150px;
    background-color: transparent;
    padding: 0;
}

.kategoria {
    background-color: transparent;
    border: none;
}

.col {
    padding-top: 10px;

}
.col:hover {
    background-color: #50acc5;
    border-width: 2px;
    border-color: #35869c;
    border-style: solid;
    border-radius: 10px;
}

.row-cols-lg-5 {
    max-width: 720px;
}

.card-title {
    margin: 0;
}




