* {
    font-family: "Arial","Gill Sans","system-ui" ;
}

.nav-link {
    position: relative;
    font-size: 1.5em;
    color: #efefef;
    transition: color 0.3s;
}

@media screen and (max-width: 960px) {
    .nav-link{
        border: 1px solid #eae69d;
        margin-bottom: 5px;
        padding: 5px 0 5px 5px;
    }
}


.nav-link:hover {
    color: white;
}

.nav-link:focus, .nav-link:active {
    color: goldenrod;
}

.nav-link:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar {
    background-color: #00437e;
}


.logo {
    width: 50px;
    height: 50px;
    margin: 0;
}

body {
    background-color: #65cbe9 ;
}

.vyhladanie {
    background-color: transparent;
    color: black;
    width: 30px;
    height: 30px;
    margin: auto;
}

.btn:hover {
    background-color: #65cbe9;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto 0 auto;

}
.card-img-bottom {
    background-color: transparent;
}

.kategoria img {
    max-width: 150px;
    background-color: transparent;
    padding: 0;
}

.kategoria {
    background-color: transparent;
    border: none;
}
.col {
    padding: 10px 2px 0;
    border: 1px solid lightgrey;
}

.col:hover {
    background-color: #50acc5;
}

.row-cols-lg-5 {
    max-width: 720px;
}

.card-title {
    margin: 0;
}




