/*
    Toto je hlavny css najma su tu pravidla pre navbar(header) a footer
 */

* {
    font-family: "Arial","Gill Sans","system-ui" ;
}

body {
    background-color: #65cbe9 ;
}

header h2 {
    font-size: 1.5em;
    text-align: center;
    color:white;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    color: #0a2f50;
}

header .btn:hover {
    background-color: #65cbe9;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto 0 auto;
}

html {
    min-width: 370px !important;
}

.vyhladanie {
    background-color: transparent;
    color: black;
    width: 30px;
    height: 30px;
    margin: auto;
}

.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
    border-color: goldenrod;
    color: goldenrod;
}

.nav-link {
    position: relative;
    font-size: 1.5em;
    color: #efefef;
    transition: color 0.3s;
}

@media screen and (max-width: 960px) {
    .nav-link{
        border-style: inset none none inset;
        border-color: #eae69d;
        border-width: 3px;
        margin-bottom: 5px;
        padding: 5px 0 5px 5px;
        width: 300px;
    }
}


.nav-link:hover {
    color: white;
}

.nav-link:focus, .nav-link:active {
    color: goldenrod;
}

.nav-link:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-nav .nav-link {
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}


.navbar {
    background-color: #00437e;
}


.logo {
    width: 50px;
    height: 50px;
    margin: 0;
}

.ikona {
    width: 35px;
    margin-left: 10px;
}

footer {
    max-width: 1050px;
    margin: 0 auto 0 auto
}

@media screen and (max-width: 1200px) {
    footer {
        max-width: 900px;
    }
}

@media screen and (max-width: 992px) {
    footer {
        max-width: 650px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        max-width: 450px !important;
    }
}

@media screen and (min-width: 992px) {
    .aktivny {
        border-top: 2px solid goldenrod;
        border-bottom: 2px solid goldenrod;
        border-radius: 300px;
        font-size: 1.5em;
        color: white;
        position: relative;
        padding: 0.5rem;
        margin: 2px 0 0 0 !important;
    }
}

.aktivny {
        border: 2px solid goldenrod;
        border-radius: 300px;
        font-size: 1.5em;
        color: white;
        position: relative;
        padding: 0.5rem;
        margin: 5px 0 5px 0;
}

.card-img-bottom {
    background-color: transparent;
}

.kategoria img {
    max-width: 60px;
    background-color: transparent;
    padding: 0;
}

.kategoria {
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
}
.row-cols-lg-5 {
    max-width: 700px;
}

.card-title {
    margin: 0;
}

.btn-primary {
    background-color: #0e79d6;
    color: white;
}

h3 {
    font-size: 1.0em;
}

.medzera {
    margin-top: 7px;
}

.btn-disabled {
    background-color : #50acc5 !important;
    cursor: not-allowed;
    color: black !important;
    opacity: 0.6;
}

.text-vypis {
    color: #fb1e1e;
    font-size: 1.13em;
}

.inzeratKarta {
    min-width: 150px;
    min-height: 170px;
}
.inzeratKarta:hover {
    border-width: 2px;
    border-color: #35869c;
    border-style: solid;
    border-radius: 10px;
}

.card-text {
    margin-bottom: 0;
}

.card-body {
    padding-top:0;
    padding-bottom: 0;
}

.card-footer {
    bottom: 1px;
}

.pozadieInzerat {
    background-color: white;
    padding: 0 0.5em 0.5em;
    border: #00437e 2px solid;
    border-radius: 3px;
}

a {
    text-underline: none;
    text-decoration: none;
}

.url-input {
    padding: 2px 0 2px;
}

.carousel-item img {
    max-width: 1000px;
    max-height: 600px;
    margin: auto;
    object-fit: contain;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    border-radius: 7px;
    background-color: gray;
}

.carousel-indicators {
    background-color: gray;
    opacity: 40%;
}

.inzerat-oramovanie {
    border: solid 2px gray;
    border-radius: 5px;
    margin: 4px 10px 4px;
    padding-top: 8px;
    background-color: #00437e;
    color: white;
}

.col-inzerat {
    margin-right: 25px;
}


